#navigation {
	height: 60px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.links {
	display: flex;
	list-style: none;
	min-width: 200px;
	width: 15%;
	justify-content: space-between;
	margin-left: 3rem;

	li > a {
		text-decoration: none;
		color: black;
		transition: all 0.3s;
	}
}
